<template name="framework">
  <div class="framework" data-id="{{_id}}">
  <div class='row'>
		<div class='col-md-3' style="color:rgb(57,104,255)" >
			{{name}} 
		</div>
		<div class='col-md-3'>	
			{{type}}
		</div>
		<div class='col-md-3'>
			{{description}}
		</div>
		<div class='col-md-3'>
			<a type="click" style="color:rgb(57,104,255)" id="edit" class="glyphicon glyphicon-pencil"></a>
			<a type="click" style="color:rgb(57,104,255)" id="delete" class="glyphicon glyphicon-trash"></a>
		</div>
  </div>
  </div>
</template>


