<template name="frameworksModal">
  <div class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add/Edit Frameworks</h4>
        </div>

        <div class="modal-body">
          <label for="name">Name</label>
          <input type="text" id="frameworkName" value={{framework.name}} />
        </div>

        <div class="modal-body">
          <label for="type">Type</label>
          <input type="text" id="frameworkType" value={{framework.type}} />
        </div>

        <div class="modal-body">
          <label for="description">Description</label>
          <input type="text" id="frameworkDescription" value={{framework.description}} />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>