

<template name="frameworks">
  <h1><center>JavaScript Frameworks</center></h1>
  <div class='table'>
    <div class='tablerow'>
        <div class='col-md-3 tablecell'>
          <h3><b>Name</b></h3>
        </div>
        <div class='col-md-3 tablecell'>
          <h3><b>Type</b></h3>
        </div>
        <div class='col-md-3 tablecell'>
          <h3><b>Description</b></h3>
        </div>
        <div class='col-md-3 tablecell'>
        <a type="click" style="color:rgb(57,104,255)" id="add" class="glyphicon glyphicon-plus"></a>
        </div>
    </div> 
    <div id="frameworks">
      {{#each frameworks
      }}
        {{> framework}}
      {{else}}
        <h4>
          You haven't added any favorite frameworks, click the Add button!
        </h4>
      {{/each}}
    </div>
  </div>
</template>
